@import "../../../Utilities/mixins.scss";

button {
  @include button;
  background-color: #f56130;
}

.question-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 75%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  min-height: 330px;
  max-height: 600px;

  .question-content {
    display: flex;
    flex-direction: column;
    height: 72%;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;

    .answer-options {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 10px 5%;
      align-items: center;

      .single-option {
        padding: 10px 2px;
        height: 100%;
        display: table;
        border: 1px solid rgb(231, 201, 28);
        border-radius: 20px;

        &:hover,
        &.active {
          background-color: rgb(231, 201, 28);
          color: white;
          cursor: pointer;
        }

        &.correct {
          background-color: #12af64;
          color: white;
          border-color: #12af64;
        }
        &.wrong {
          background-color: #ee3625e0;
          border-color: #ee3625e0;
          color: white;
        }
      }

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
